/* Slideshow */
.slideshow {
    width: 600px;
    margin: auto;

    &__display {
        display: flex;
        height: 400px;
        border: 1px solid lightcoral;
        align-items: center;
        justify-content: center;
    }

    &__list {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        width: 100px;
        height: 100px;
        border: 1px solid lightcoral;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &._active {
            border-color: transparent;
            box-shadow: 0 0 19px 3px @purple-77;
            cursor: default;
        }
    }

    &__image {
        max-width: 100%;
        max-height: 100%;

        &._main {
            transition-property: opacity;
            transition-duration: 1s;
        }
    }
}

